<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<property name="LOG_FILE" value="data_export.log" />-->
    <property name="LOG_PATTERN" value=" %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.LevelFilter">
             <level>WARN</level>
             <onMatch>DENY</onMatch>
         </filter>-->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <!--   <appender-ref ref="FILE" /> -->
       </root>
    <logger name="uk.ac.ebi.spot.gwas" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
   </configuration>